/* app css stylesheet */

body {
  box-sizing: border-box;
}
.dssv th, .dssv td {
	padding: 20px;
	text-align: center;
}

.ctsv th, .ctsv td {
	padding: 20px;
	text-align: left;
}

.xoa-sv {
	cursor: pointer;
}

footer {
	margin: 30px 0;
	padding: 20px 0;
	border-top: 1px solid #e7e7e7;
}

.error-message {
	color: red;
}

