<div class="container ctsv">
  <div class="row">
    <h1 class="text-center">Thông tin sinh viên</h1>
    <table class="col-md-6 col-md-offset-3">
      <tr>
        <th>Mã số sinh viên: </th>
        <td>{{data.MaSV}}</td>
      </tr>
      <tr>
        <th>Họ và tên: </th>
        <td>{{data.HoTen}}</td>
      </tr>
      <tr>
        <th>Ngày sinh: </th>
        <td>{{data.NgaySinh}}</td>
      </tr>
      <tr>
        <th>Quê quán: </th>
        <td>{{data.QueQuan}}</td>
      </tr>
      <tr>
        <th>Điểm trung bình</th>
        <td>{{data.DiemTrungBinh}}</td>
      </tr>
      <tr>
        <th>Điểm rèn luyện</th>
        <td>{{data.DiemRenLuyen}}</td>
      </tr>
    </table>
    <div class="col-md-6 col-md-offset-3">
      <a class="btn btn-primary pull-right" href="#/sinhvien/capnhat/{{data.MaSV}}">Cập nhật</a>
    </div>
  </div>
</div>