<div class="container dang-nhap">
	<div ng-show="error" class="alert alert-danger col-md-4 col-md-offset-4">{{error}}</div>
	<div class="col-md-4 col-md-offset-4">
		Username: nhkhanh <br>
		Password: 123456
	</div>
	<form novalidate name="login-form" class="col-md-4 col-md-offset-4" ng-submit="submit()">
		<div class="form-group">
			<label for="">Tên đăng nhập</label>
			<input type="text" class="form-control" ng-model="username" name="tendangnhap" required>
			<br>
			<div ng-show="login-form.$summitted || login-form.tendangnhap.$touched">
				<div ng-show="login-form.tendangnhap.$error.required" class="error-message">Bạn chưa nhập tên đăng nhập</div>
			</div>
		</div>
		<div class="form-group">
			<label for="">Mật khẩu</label>
			<input type="password" class="form-control" ng-model="password" name="matkhau" required>
			<br>
			<div ng-show="login-form.$summitted || login-form.matkhau.$touched">
				<div ng-show="login-form.matkhau.$error.required" class="error-message">Bạn chưa nhập mật khẩu</div>
			</div>
		</div>
		<input type="submit" class="btn btn-primary form-control" value="Đăng nhập" ng-disabled="disable">
	</form>

</div>