<div class="container dssv">
  <div class="row">
    <h1 class="text-center">Danh sách sinh viên</h1>
    <div class="col-md-10 col-md-offset-1">
      <!--Body content-->

      <table>
        <tr>
          <th>MSSV</th>
          <th>Họ và tên</th>
          <th>Ngày sinh</th>
          <th>Quê quán</th>
          <th>Điểm trung bình</th>
          <th>Điểm rèn luyện</th>
          <th>Xóa</th>
        </tr>
        <tr ng-repeat="sinhVien in data">
          <td>{{sinhVien.MaSV}}</td>
          <td><a href="#/sinhvien/{{sinhVien.MaSV}}">{{sinhVien.HoTen}}</a></td>
          <td>{{sinhVien.NgaySinh}}</td>
          <td>{{sinhVien.QueQuan}}</td>
          <td>{{sinhVien.DiemTrungBinh}}</td>
          <td>{{sinhVien.DiemRenLuyen}}</td>
          <td><button type="button" class="xoa-sv btn btn-danger" ng-really-message="Bạn có chắc muốn xóa sinh viên này không?" ng-really-click="xoaSinhVien({{sinhVien.MaSV}})">Xóa</button></td>
        </tr>
      </table>
      <a href="#/sinhvien/them" class="btn btn-success pull-right">Thêm sinh viên</a>
    </div>
  </div>
</div>