<script>
	$(function() {
		$('#datepicker').datepicker({
			changeYear: true,
			changeMonth: true,
			yearRange: "-100:+0"
		});
	});
</script>
<div class="container">
	<h1 class="text-center">Thêm sinh viên</h1>
	<form novalidate name="form" class="col-md-8 col-md-offset-2">
		<div class="form-group">
			<label for="">Mã số sinh viên</label>
			<input class="form-control" type="text" ng-model="sinhVien.MaSV" name="masv" required pattern="\d{7}"/>
			<br>
			<div ng-show="form.$summitted || form.masv.$touched">
				<div ng-show="form.masv.$error.required" class="error-message">Bạn chưa điền mã số sinh viên</div>
				<div ng-show="form.masv.$error.pattern" class="error-message">Mã sinh viên là một dãy số dài 7 ký tự (vd: 1212499) </div>
			</div>
		</div>
		<div class="form-group">
			<label for="">Họ và tên</label>
			<input class="form-control" type="text" ng-model="sinhVien.HoTen" name="hoten" required />
			<br>
			<div ng-show="form.$summitted || form.hoten.$touched">
				<div ng-show="form.hoten.$error.required" class="error-message">Bạn chưa điền họ tên sinh viên</div>
			</div>
		</div>
		<div class="form-group">
			<label for="">Ngày sinh</label>
			<input class="form-control" type="text" id="datepicker" ng-model="sinhVien.NgaySinh" name="ngaysinh" required />
			<br>
			<div ng-show="form.$summitted || form.ngaysinh.$touched">
				<div ng-show="form.ngaysinh.$error.required" class="error-message">Bạn chưa chọn ngày sinh</div>
			</div>
		</div>
		<div class="form-group">
			<label for="">Quê quán</label>
			<input class="form-control" type="text" ng-model="sinhVien.QueQuan" name="quequan" required />
			<br>
			<div ng-show="form.$summitted || form.quequan.$touched">
				<div ng-show="form.quequan.$error.required" class="error-message">Bạn chưa điền quê quán sinh viên</div>
			</div>
		</div>
		<div class="form-group">
			<label for="">Điểm trung bình</label>
			<input class="form-control" type="text" ng-model="sinhVien.DiemTrungBinh" name="dtb" required pattern="\d.\d"/>
			<br>
			<div ng-show="form.$summitted || form.dtb.$touched">
				<div ng-show="form.dtb.$error.required" class="error-message">Bạn chưa điền điểm trung bình sinh viên</div>
				<div ng-show="form.dtb.$error.pattern" class="error-message">Điểm trung bình phải có dạng (x.y) từ 0 - 10</div>
			</div>
		</div>
		<div class="form-group">
			<label for="">Điểm rèn luyện</label>
			<input class="form-control" type="number" ng-model="sinhVien.DiemRenLuyen" name="drl" required min="0" max="100"/>
			<br>
			<div ng-show="form.$summitted || form.drl.$touched">
				<div ng-show="form.drl.$error.required" class="error-message">Bạn chưa điền điểm rèn luyện sinh viên</div>
				<div ng-show="form.drl.$error.min || form.drl.$error.max" class="error-message">Điểm rèn luyện phải nằm trong khoảng 0 - 100</div>
			</div>
		</div>
		<input class="btn btn-success pull-right" type="submit" ng-click="submit(sinhVien)" value="Thêm">
	</form>
</div>